.container {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    font-weight: bold;
    font-size: 1,5em;
    background-color: rgba(201, 138, 4, 0.5);
    border-radius: 30px;
    
  }
  
  .form {
    display: grid;
    gap: 10px;
    font-size: large;
   
  }
  
  .formField {
    display: grid;
    gap: 5px;
    
  }
  
  .formLabel {
    font-weight: bold;
  }
  
  .formInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
  }
  
  .error {
    color: rgb(171, 115, 5);
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #030303;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submitButton:hover {
    background-color: #b38600;
  }
  
  .boldText {
    font-weight: bold;
  }
  
  .colorBorder {
    border: 6px solid #be6e04ee; 
  }