.buttom {
    width: 25%;
    color: black;
    opacity: 0.6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 21px -3px 9px -4px rgba(20,19,19,0.74);
    border-radius: 31px 40px 36px 36px;
   
}

.buttom:hover {
    background-color: chocolate;
    color: white;
}

@keyframes color-change {
    0% { background-color:antiquewhite; }
    50% { background-color:blanchedalmond; }
    100% { background-color:chocolate; }
  }


.h1 {
    animation: color-change 2s linear infinite;
    font-size: 5em;
    -webkit-text-stroke: 1px black; /* Borde negro de 1 píxel */
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    font-weight: bolder;

}




  

.patitasContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
  
  
  
  
  
  
  
  
  
  









