.pagination {
    display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  }
  
  .page {
    margin: 0 5px;
  }
  
  .pageButton {
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pageButton:hover {
    background-color: #ccc;
  }
  