.searchBar {
   
    background-size: 24px;
    width: 500px;
    border: transparent;
    border-bottom: solid 1px rgb(191, 126, 5);
    padding: 10px 10px 10px 30px;
    outline: none;
    margin-left: -70%;
    margin-top: 1%;
    
    
}

.click{
    padding: 10px 20px;
  background-color: #eaeaea;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
    
    
}

.click:active,
.click:focus {
  background-color: #c0c0c0;
}
